.task-label {
  font-weight: bold;
  padding: 7px 10px 7px 0;
}

.task-entry {
  background-color: #333;
  border: solid 1px white;
  padding: 2px 2px 2px 2px;
  min-width: 200px;
}

.task {
  padding: 5px 15px 5px 15px;

  background-gradient-start: #222;
  background-gradient-end: #000;
  background-gradient-direction: vertical;
}

.task-list {
  padding-top: 10px;
}

.processing-label {
  color: grey;
}
